body{
  background-color: #dedede;
  font-family: 'Varela Round', sans-serif;
}

.ui.main.menu{
  top: 0px;
  margin-top: 0px;
  width: 100%;
  left: 0px;
  position: fixed;
  z-index: 2;
}

.right.menu{
  display: inline;
}

.ui.main.segment{
  background-color: #dedede;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
}

.ui.manage.segment{
  width: 100%;
  margin-top: 15px;
}

.ui.album.segment{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ui.album.disp.segment{
  overflow-y:scroll;
}

/*.ui.control.segment{
  height: 8%;
  margin-top: 0px;
  padding-top:3px;
  text-align:center;
}*/

.control.icon{
  display:inline-block;
  position: relative;
}

.ui.mini.button{
  display: inline;
}

.ui.segment.tag{
  padding-left:3px;
}

.ui.tag.label{
  margin-top: 3px;
}

#tags{
  margin-left:3px;
  padding-left:0px;
}

.ui.segment.song{
  padding-left:3px;
}

.ui.song_disp.segment{
  margin-top: 0px;
  padding-top: 0px;
}

.ui.song.message{
  width: 100%;
}

.ui.song.image{
  float: left;
  width: 80px;
  height: 80px;
  display: inline;
  vertical-align: middle;
  margin-right: 20px;
}

.song.content{
  display: inline-block;
  height: 80px;
  vertical-align: middle;
  width:40%;
  overflow: auto;
}

.song.control{
  display: block;
  float:right;
  text-align: center;
  z-index: 200;
}

.song.icon{
  font-size: 3em;
  vertical-align: middle;
}

.rsong.icon{
  font-size: 3em;
  vertical-align: middle;
}

.song.thumbs.icon{
  font-size: 2em;
  vertical-align: middle;
}

#songs{
  margin-left:3px;
  padding-left:0px;
}

/*.slidePic{
  max-width:500px;
  text-align:center;
}*/
