doctype html
html
  head
    title Albums
    meta(charset='utf-8')
    link(href=href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css')
    link(href="css/semantic.css" rel="stylesheet" type="text/css")
    style.
      body{
        background-color: #dedede;
        font-family: 'Varela Round', sans-serif;
      }

      .ui.main.menu{
        top: 0px;
        margin-top: 0px;
        width: 100%;
        left: 0px;
        position: fixed;
      }

      .right.menu{
        display: inline;
      }

      .ui.main.segment{
        background-color: #dedede;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0px;
        z-index: -1;
      }

      .ui.side.menu{
        left: 2%;
        width: 13%;
        margin-top: 15px;
      }

      .ui.disp.segment{
        width: 86%;
        margin-top: 15px;
        max-height: 90%;
      }

      .ui.items{
        max-height: 90%;
      }


      #fbloading{
        display: inline;
      }

  body
    div(class="ui inverted main menu")
      a(class="item" href="/")
        i(class="home icon")
        |Home
      a(class="item" href="/albums")
        i(class="photo icon")
        |Albums
      a(class="item")
        i(class="globe icon")
        |Browse
      div(class="right menu")
        div(class="item")
          div(class="ui icon input")
            input(type="text" placeholder="Search...")
            i(class="search link icon")

    div(class="ui main segment")
      div(class="ui left floated vertical side menu")
        div(class="header item")
          i(class="add icon")
          |Add
        a(class="item" onclick="importFromFBDisp()")
          i(class="facebook icon")
          |Import from Facebook
        a(class="item" onclick="importFromFBDisp()")
          i(class="cloud upload icon")
          |Upload photos
        div(class="header item")
          i(class="pencil icon")
          |Manage
        a(class="item")
          i(class="trash icon")
          |Delete
      div(class="ui right floated stacked disp segment",id="main_disp")

      div(class="ui importFB modal")
        i(class="close icon")
        div(class="header")
          |Import Album From Facebook :
        div(class="content")
          div(class="ui dropdown fb selection")
            div(class="default text")
              |Choose an album from your facebook
            i(class="dropdown icon")
            div(class="menu" id="fb_options")
          | &nbsp; &nbsp; &nbsp;
          div(class="ui button" onclick="importFromFB()")
            |Import
          | &nbsp; &nbsp; &nbsp;
          div(id="fbloading")
        div(class="actions")
          div(class="ui button")
            |Cancel

      div(class="ui msg modal")
        i(class="close icon")
        div(class="header",id="msg_header")
        div(class="content",id="msg_content")
        div(class="actions")
          div(class="ui button")
            |Okay


  div(id="userinfo" user=data.user.id)

  script(src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript")
  script(src="javascript/semantic.js" type="text/javascript")
  script(src="javascript/albums.js" type="text/javascript")
  script.

      var token = !{JSON.stringify(data.token)};
      var uid = !{JSON.stringify(data.user.id)};

      loadAlbums();

      $('.ui.modal').modal();
      
